/*
Hat tip to Yihui Xie for these great fonts.
Some of this CSS is inspired by xaringan
https://github.com/yihui/xaringan/blob/master/inst/rmarkdown/templates/xaringan/resources/example.css
*/

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);

body{
  font-family: 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
  background-color: #272822;
  color: #d6d6d6;
  text-shadow: 0 0 20px #333;
  /* https://getbootstrap.com/components/#navbar-fixed-top */
  padding-top: 50px;
}
h1, h2, h3{
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
  color: #f3f3f3;
  text-align: center;
}

/* https://stackoverflow.com/questions/24603003/changing-the-maximum-width-of-r-markdown-documents */
body .main-container{
  max-width: 100%;
}

/* light blue hyperlinks */
a {
  color: #41baf7 !important;
}

a:hover {
  color: #f3f3f3 !important;
  cursor: pointer !important;
}

/* except in the navbar */
.navbar a {
  color: #d6d6d6 !important;
}

/* and the carousel controls */
.carousel-control {
  color: #d6d6d6 !important;
}

/* restrict max width of navbar */
.container-fluid {
  max-width: 900px;
}

#carousel-cover img {
  max-height: 625px;
}


/* 
for using background-image with animate-image.js 

#cover-photo {
  height: 700px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
*/